.idea/
.vscode/
*.iml

.env
.env.local
.env.*.local

build/
dist/
*.zip

vendor/
composer.lock
node_modules/
package-lock.json
yarn.lock

.phpunit.result.cache
.phpunit.cache/
.phpstan/
.psalm/
coverage/
*.log

.DS_Store
Thumbs.db
