parameters:
    level: 7
    paths:
        - src/files/custom/Espo/Modules/EspoDental
    excludePaths:
        - src/files/custom/Espo/Modules/EspoDental/Resources/*
    treatPhpDocTypesAsCertain: false
